<h1>Editing Book</h1>

<div>
    <%= form_with model:@book,local:true do |f| %>
      <label>Title</label>
      <%= f.text_field :title, autofocus:true %>
      <label>Opinion</label>
      <%= f.text_area :body, autofocus:true %>
      <%= f.submit "Update Book" %>
    <% end %>
    <%= link_to "Show", book_path(@book.id) %>
    <%= link_to "Back", books_path %>

</div>