<h1>Book detail</h1>

<div>
  <table>
    <tr>
      <td><%= attachment_image_tag @book.user, :profile_image, :fill, 100, 100, format:'jpeg', class:"img-circle pull-left profile_img" %><br>
      <%= link_to "#{@book.user.name}",user_path(@book.user.id) %></td>
      <td><%= @book.title %></td>
      <td><%= @book.body %></td>
      <% if @book.user.id == current_user.id %>
        <td><%= link_to "edit", edit_book_path(@book.id) %></td>
        <td><%= link_to "destroy", book_path(@book.id), method: :delete, data: {confirm: "削除しますか？"} %></td>
      <% end %>
    </tr>
  </table>
</div>